*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    padding: 4rem;
    border: 1px gray solid;
    margin: 0 auto;
}

div {
    display: flex;
    flex-flow: row wrap;
    margin: 2rem auto;
}

label {
    margin-right: 4rem;
    text-align: left;
    width: 4rem;
}

p {
    width: 10rem;
}

#backButton {
    margin-top: 4rem;
    padding: 1rem;
    background-color: rgb(53, 114, 226);
    color: white;
    border: 0;
    border-radius: 4px;
    width: 5rem;
    cursor: pointer;
}