*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 2rem;
    border: 1px gray solid;
}

#resultNum {
    padding: 0.5rem;
    border: 0.5px gray solid;
    font-size: 12px;
    font-style: italic;
    display: inline-block;
    margin: 0.5rem;
    background-color: rgb(184, 159, 159);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#backButton {
    padding: 1rem;
    background-color: rgb(53, 114, 226);
    color: white;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}